body {
  font-size: 30px;
  margin: 0;
  padding: 0;
  background:linear-gradient(rgba(36, 66, 99),pink);
}

.user{
  padding: 10px;
    display:grid;
    width: calc(10% - 20px);
    color: hsla(0, 57%, 3%, 0.904);
    border-radius: 5%;
    line-height: 50px;
    
    
}
.positioned{
  top: 30px;
  left: 30px;

}

.login{
  width: 300px;
  margin: 80px auto;
  padding: 40px;
  position: relative;
  background: #ffffff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#loginBtn {
  background-color: #090e2ec3;
  border: none;
  padding: 5px;
  width: 1000%;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}



